<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow fixed-top">
  <h5 class="my-0 mr-md-auto font-weight-normal">Two-Party Escrow</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-white" href="#">Intro</a>
    <a class="p-2 text-white" href="#escrow">Demo</a>
  </nav>
</div>
<br>
<br>
<div class="section" id="story">
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-3">The Scenario:</h2>
      <p> A car dealer sells Tunde a car for 2m NGN. Tunde does not trust the car dealer so he decides to pay the car dealer 2 days after purchasing the car, if there are no issues. 
      </p>
      <p> To solve this issue, Tunde and the car dealer set up an escrow that ensures: </p>
      <ul>
        <li>Funds will only be released to the car dealer after 2 days</li>
        <li>Tunde can get his money back on the 3rd day if there are any issues with the car</li>
      </ul>
      <p>These can be achieved through a smart contract. Let's walk through the parameters and steps below. </p>
      <p>
        <a class="btn btn-primary btn-lg" href="#escrow" role="button">Next &raquo;</a>
      </p>
    </div>
  </div>
</div>

<br>
<br>


<div class="section" id="escrow">
  <br>
  <br>
  <div style="text-align:center">
    <h3>
      {{ title }}!
    </h3>
  </div>


  <app-escrow id="escrow"></app-escrow>

</div>
