<div class="card">
  <h6 *ngIf="publicKey && fedName" class="card-title font-weight-bold text-secondary">{{fedName}}</h6>
  <small *ngIf="publicKey && fedName">
    <a href="#escrow">{{publicKey}}</a>
  </small>
  <div *ngIf="account && publicKey" class="card-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let b of account.balances">
        Balance:
        <strong>NGN {{ b.balance | number:'1.2' }}m</strong>
      </li>
      <li class="list-group-item" *ngFor="let b of account.balances">
        Number of Signers: {{account.signers.length}}
      </li>
    </ul>

  </div>
  <div *ngIf="account && publicKey" class="card-body">
    <h6 class="card-title">Actions on Account</h6>
    <ul class="list-group">
<li class="list-group-item" *ngFor="let e of effects; first as isFirst" [ngClass]="{'isFirst bg-info': isFirst, 'isLast': !isFirst}">
        {{ e.type }}
      </li>
    </ul>
  </div>
</div>
